In [1]:
import pandas as pd

In [2]:
dataset=pd.read_csv("CKD.csv")
dataset

,age,bp,sg,al,su,rbc,pc,pcc,ba,bgr,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,2.000000,76.459948,c,3.0,0.0,normal,abnormal,notpresent,notpresent,148.112676,...,38.868902,8408.191126,4.705597,no,no,no,yes,yes,no,yes
1,3.000000,76.459948,c,2.0,0.0,normal,normal,notpresent,notpresent,148.112676,...,34.000000,12300.000000,4.705597,no,no,no,yes,poor,no,yes
2,4.000000,76.459948,a,1.0,0.0,normal,normal,notpresent,notpresent,99.000000,...,34.000000,8408.191126,4.705597,no,no,no,yes,poor,no,yes
3,5.000000,76.459948,d,1.0,0.0,normal,normal,notpresent,notpresent,148.112676,...,38.868902,8408.191126,4.705597,no,no,no,yes,poor,yes,yes
4,5.000000,50.000000,c,0.0,0.0,normal,normal,notpresent,notpresent,148.112676,...,36.000000,12400.000000,4.705597,no,no,no,yes,poor,no,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
394,51.492308,70.000000,a,0.0,0.0,normal,normal,notpresent,notpresent,219.000000,...,37.000000,9800.000000,4.400000,no,no,no,yes,poor,no,yes
395,51.492308,70.000000,c,0.0,2.0,normal,normal,notpresent,notpresent,220.000000,...,27.000000,8408.191126,4.705597,yes,yes,no,yes,poor,yes,yes
396,51.492308,70.000000,c,3.0,0.0,normal,normal,notpresent,notpresent,110.000000,...,26.000000,9200.000000,3.400000,yes,yes,no,poor,poor,no,yes
397,51.492308,90.000000,a,0.0,0.0,normal,normal,notpresent,notpresent,207.000000,...,38.868902,8408.191126,4.705597,yes,yes,no,yes,poor,yes,yes
398,51.492308,80.000000,a,0.0,0.0,normal,normal,notpresent,notpresent,100.000000,...,53.000000,8500.000000,4.900000,no,no,no,yes,poor,no,no

In [3]:
dataset=pd.get_dummies(dataset,drop_first=True)
dataset

,age,bp,al,su,bgr,bu,sc,sod,pot,hrmo,...,pc_normal,pcc_present,ba_present,htn_yes,dm_yes,cad_yes,appet_yes,pe_yes,ane_yes,classification_yes
0,2.000000,76.459948,3.0,0.0,148.112676,57.482105,3.077356,137.528754,4.627244,12.518156,...,0,0,0,0,0,0,1,1,0,1
1,3.000000,76.459948,2.0,0.0,148.112676,22.000000,0.700000,137.528754,4.627244,10.700000,...,1,0,0,0,0,0,1,0,0,1
2,4.000000,76.459948,1.0,0.0,99.000000,23.000000,0.600000,138.000000,4.400000,12.000000,...,1,0,0,0,0,0,1,0,0,1
3,5.000000,76.459948,1.0,0.0,148.112676,16.000000,0.700000,138.000000,3.200000,8.100000,...,1,0,0,0,0,0,1,0,1,1
4,5.000000,50.000000,0.0,0.0,148.112676,25.000000,0.600000,137.528754,4.627244,11.800000,...,1,0,0,0,0,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
394,51.492308,70.000000,0.0,0.0,219.000000,36.000000,1.300000,139.000000,3.700000,12.500000,...,1,0,0,0,0,0,1,0,0,1
395,51.492308,70.000000,0.0,2.0,220.000000,68.000000,2.800000,137.528754,4.627244,8.700000,...,1,0,0,1,1,0,1,0,1,1
396,51.492308,70.000000,3.0,0.0,110.000000,115.000000,6.000000,134.000000,2.700000,9.100000,...,1,0,0,1,1,0,0,0,0,1
397,51.492308,90.000000,0.0,0.0,207.000000,80.000000,6.800000,142.000000,5.500000,8.500000,...,1,0,0,1,1,0,1,0,1,1
398,51.492308,80.000000,0.0,0.0,100.000000,49.000000,1.000000,140.000000,5.000000,16.300000,...,1,0,0,0,0,0,1,0,0,0

In [4]:
dataset.columns

Index(['age', 'bp', 'al', 'su', 'bgr', 'bu', 'sc', 'sod', 'pot', 'hrmo', 'pcv',
       'wc', 'rc', 'sg_b', 'sg_c', 'sg_d', 'sg_e', 'rbc_normal', 'pc_normal',
       'pcc_present', 'ba_present', 'htn_yes', 'dm_yes', 'cad_yes',
       'appet_yes', 'pe_yes', 'ane_yes', 'classification_yes'],
      dtype='object')

In [5]:
dataset["classification_yes"].value_counts()

1    249
0    150
Name: classification_yes, dtype: int64

In [6]:
independent=dataset[['age', 'bp', 'al', 'su', 'bgr', 'bu', 'sc', 'sod', 'pot', 'hrmo', 'pcv',
       'wc', 'rc', 'sg_b', 'sg_c', 'sg_d', 'sg_e', 'rbc_normal', 'pc_normal',
       'pcc_present', 'ba_present', 'htn_yes', 'dm_yes', 'cad_yes',
       'appet_yes', 'pe_yes', 'ane_yes']]
dependent=dataset[['classification_yes']]

In [7]:
independent

,age,bp,al,su,bgr,bu,sc,sod,pot,hrmo,...,rbc_normal,pc_normal,pcc_present,ba_present,htn_yes,dm_yes,cad_yes,appet_yes,pe_yes,ane_yes
0,2.000000,76.459948,3.0,0.0,148.112676,57.482105,3.077356,137.528754,4.627244,12.518156,...,1,0,0,0,0,0,0,1,1,0
1,3.000000,76.459948,2.0,0.0,148.112676,22.000000,0.700000,137.528754,4.627244,10.700000,...,1,1,0,0,0,0,0,1,0,0
2,4.000000,76.459948,1.0,0.0,99.000000,23.000000,0.600000,138.000000,4.400000,12.000000,...,1,1,0,0,0,0,0,1,0,0
3,5.000000,76.459948,1.0,0.0,148.112676,16.000000,0.700000,138.000000,3.200000,8.100000,...,1,1,0,0,0,0,0,1,0,1
4,5.000000,50.000000,0.0,0.0,148.112676,25.000000,0.600000,137.528754,4.627244,11.800000,...,1,1,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
394,51.492308,70.000000,0.0,0.0,219.000000,36.000000,1.300000,139.000000,3.700000,12.500000,...,1,1,0,0,0,0,0,1,0,0
395,51.492308,70.000000,0.0,2.0,220.000000,68.000000,2.800000,137.528754,4.627244,8.700000,...,1,1,0,0,1,1,0,1,0,1
396,51.492308,70.000000,3.0,0.0,110.000000,115.000000,6.000000,134.000000,2.700000,9.100000,...,1,1,0,0,1,1,0,0,0,0
397,51.492308,90.000000,0.0,0.0,207.000000,80.000000,6.800000,142.000000,5.500000,8.500000,...,1,1,0,0,1,1,0,1,0,1
398,51.492308,80.000000,0.0,0.0,100.000000,49.000000,1.000000,140.000000,5.000000,16.300000,...,1,1,0,0,0,0,0,1,0,0

In [8]:
dependent

     classification_yes
0                     1
1                     1
2                     1
3                     1
4                     1
..                  ...
394                   1
395                   1
396                   1
397                   1
398                   0

[399 rows x 1 columns]

In [9]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(independent, dependent, test_size=1/3, random_state=0)

In [10]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
x_train=sc.fit_transform(x_train)
x_test=sc.transform(x_test)

In [11]:
# Model Creation
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import GridSearchCV

param_grid = {
    'C': [0.001, 0.01, 0.1, 1, 10, 100, 1000],
    'penalty': ['l1', 'l2', 'elasticnet', 'none'],
    'solver': ['lbfgs', 'liblinear', 'newton-cg', 'sag', 'saga'],
    'multi_class': ['auto', 'ovr', 'multinomial']
}

grid = GridSearchCV(LogisticRegression(), param_grid, refit=True, verbose=3, n_jobs=-1, scoring='f1_weighted')
grid.fit(x_train, y_train)

Fitting 5 folds for each of 420 candidates, totalling 2100 fits

C:\Users\SRIRAM\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:372: FitFailedWarning:
1015 fits failed out of a total of 2100.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
105 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\SRIRAM\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py", line 680, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\SRIRAM\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py", line 1461, in fit
    solver = _check_solver(self.solver, self.penalty, self.dual)
  File "C:\Users\SRIRAM\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py", line 449, in _check_solver
    % (solver, penalty)
ValueError: Solver lbfgs supports only 'l2' or 'none' penalties, got l1 penalty.

--------------------------------------------------------------------------------
105 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\SRIRAM\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py", line 680, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\SRIRAM\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py", line 1461, in fit
    solver = _check_solver(self.solver, self.penalty, self.dual)
  File "C:\Users\SRIRAM\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py", line 449, in _check_solver
    % (solver, penalty)
ValueError: Solver newton-cg supports only 'l2' or 'none' penalties, got l1 penalty.

--------------------------------------------------------------------------------
105 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\SRIRAM\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py", line 680, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\SRIRAM\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py", line 1461, in fit
    solver = _check_solver(self.solver, self.penalty, self.dual)
  File "C:\Users\SRIRAM\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py", line 449, in _check_solver
    % (solver, penalty)
ValueError: Solver sag supports only 'l2' or 'none' penalties, got l1 penalty.

--------------------------------------------------------------------------------
105 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\SRIRAM\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py", line 680, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\SRIRAM\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py", line 1461, in fit
    solver = _check_solver(self.solver, self.penalty, self.dual)
  File "C:\Users\SRIRAM\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py", line 449, in _check_solver
    % (solver, penalty)
ValueError: Solver lbfgs supports only 'l2' or 'none' penalties, got elasticnet penalty.

--------------------------------------------------------------------------------
105 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\SRIRAM\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py", line 680, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\SRIRAM\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py", line 1461, in fit
    solver = _check_solver(self.solver, self.penalty, self.dual)
  File "C:\Users\SRIRAM\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py", line 459, in _check_solver
    solver
ValueError: Only 'saga' solver supports elasticnet penalty, got solver=liblinear.

--------------------------------------------------------------------------------
105 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\SRIRAM\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py", line 680, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\SRIRAM\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py", line 1461, in fit
    solver = _check_solver(self.solver, self.penalty, self.dual)
  File "C:\Users\SRIRAM\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py", line 449, in _check_solver
    % (solver, penalty)
ValueError: Solver newton-cg supports only 'l2' or 'none' penalties, got elasticnet penalty.

--------------------------------------------------------------------------------
105 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\SRIRAM\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py", line 680, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\SRIRAM\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py", line 1461, in fit
    solver = _check_solver(self.solver, self.penalty, self.dual)
  File "C:\Users\SRIRAM\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py", line 449, in _check_solver
    % (solver, penalty)
ValueError: Solver sag supports only 'l2' or 'none' penalties, got elasticnet penalty.

--------------------------------------------------------------------------------
105 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\SRIRAM\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py", line 680, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\SRIRAM\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py", line 1473, in fit
    % self.l1_ratio
ValueError: l1_ratio must be between 0 and 1; got (l1_ratio=None)

--------------------------------------------------------------------------------
105 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\SRIRAM\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py", line 680, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\SRIRAM\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py", line 1461, in fit
    solver = _check_solver(self.solver, self.penalty, self.dual)
  File "C:\Users\SRIRAM\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py", line 464, in _check_solver
    raise ValueError("penalty='none' is not supported for the liblinear solver")
ValueError: penalty='none' is not supported for the liblinear solver

--------------------------------------------------------------------------------
70 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\SRIRAM\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py", line 680, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\SRIRAM\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py", line 1519, in fit
    multi_class = _check_multi_class(self.multi_class, solver, len(self.classes_))
  File "C:\Users\SRIRAM\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py", line 483, in _check_multi_class
    raise ValueError("Solver %s does not support a multinomial backend." % solver)
ValueError: Solver liblinear does not support a multinomial backend.

  warnings.warn(some_fits_failed_message, FitFailedWarning)
C:\Users\SRIRAM\Anaconda3\lib\site-packages\sklearn\model_selection\_search.py:972: UserWarning: One or more of the test scores are non-finite: [       nan 0.20194378        nan        nan 0.48429303 0.59246922
 0.88909097 0.59246922 0.59246922 0.59246922        nan        nan
        nan        nan        nan 0.96640098        nan 0.9591389
 0.97763358 0.97763358        nan 0.20194378        nan        nan
 0.48429303 0.59246922 0.88909097 0.59246922 0.59246922 0.59246922
        nan        nan        nan        nan        nan 0.96640098
        nan 0.9591389  0.97763358 0.97763358        nan        nan
        nan        nan 0.48429303 0.94985463        nan 0.94985463
 0.94985463 0.94985463        nan        nan        nan        nan
        nan 0.97014818        nan 0.9591389  0.97763358 0.97763358
        nan 0.20194378        nan        nan 0.48429303 0.98496077
 0.92971619 0.98496077 0.98496077 0.98496077        nan        nan
        nan        nan        nan 0.96640098        nan 0.9591389
 0.97763358 0.97763358        nan 0.20194378        nan        nan
 0.48429303 0.98496077 0.92971619 0.98496077 0.98496077 0.98496077
        nan        nan        nan        nan        nan 0.96640098
        nan 0.9591389  0.97763358 0.97763358        nan        nan
        nan        nan 0.48429303 0.98496077        nan 0.98496077
 0.98496077 0.98496077        nan        nan        nan        nan
        nan 0.97014818        nan 0.9591389  0.97763358 0.97763358
        nan 0.96262951        nan        nan 0.966259   0.98868958
 0.95910985 0.98868958 0.98868958 0.98496077        nan        nan
        nan        nan        nan 0.96640098        nan 0.9591389
 0.97763358 0.97763358        nan 0.96262951        nan        nan
 0.966259   0.98868958 0.95910985 0.98868958 0.98868958 0.98496077
        nan        nan        nan        nan        nan 0.96640098
        nan 0.9591389  0.97763358 0.97763358        nan        nan
        nan        nan 0.966259   0.98876           nan 0.98876
 0.98876    0.98876           nan        nan        nan        nan
        nan 0.97014818        nan 0.9591389  0.97763358 0.97763358
        nan 0.97751924        nan        nan 0.98500464 0.98876
 0.97390477 0.98876    0.98880386 0.98129068        nan        nan
        nan        nan        nan 0.96640098        nan 0.9591389
 0.97763358 0.97763358        nan 0.97751924        nan        nan
 0.98121084 0.98876    0.97390477 0.98876    0.98880386 0.98129068
        nan        nan        nan        nan        nan 0.96640098
        nan 0.9591389  0.97763358 0.97763358        nan        nan
        nan        nan 0.98121084 0.99255723        nan 0.99255723
 0.98880386 0.97763358        nan        nan        nan        nan
        nan 0.97014818        nan 0.9591389  0.97763358 0.97763358
        nan 0.98139017        nan        nan 0.97763358 0.98880386
 0.98514677 0.98880386 0.97763358 0.97763358        nan        nan
        nan        nan        nan 0.96640098        nan 0.9591389
 0.97763358 0.97763358        nan 0.97763358        nan        nan
 0.97763358 0.98880386 0.98514677 0.98880386 0.97763358 0.97763358
        nan        nan        nan        nan        nan 0.96640098
        nan 0.9591389  0.97763358 0.97763358        nan        nan
        nan        nan 0.97763358 0.98880386        nan 0.98880386
 0.97763358 0.97763358        nan        nan        nan        nan
        nan 0.97014818        nan 0.9591389  0.97763358 0.97763358
        nan 0.97390477        nan        nan 0.97763358 0.98880386
 0.97775352 0.98880386 0.97763358 0.97763358        nan        nan
        nan        nan        nan 0.96640098        nan 0.9591389
 0.97763358 0.97763358        nan 0.9701142         nan        nan
 0.97763358 0.98880386 0.97775352 0.98880386 0.97763358 0.97763358
        nan        nan        nan        nan        nan 0.96640098
        nan 0.9591389  0.97763358 0.97763358        nan        nan
        nan        nan 0.97763358 0.98501006        nan 0.98501006
 0.97763358 0.97763358        nan        nan        nan        nan
        nan 0.97014818        nan 0.9591389  0.97763358 0.97763358
        nan 0.951637          nan        nan 0.97763358 0.98125347
 0.96661497 0.98125347 0.97763358 0.97763358        nan        nan
        nan        nan        nan 0.96640098        nan 0.9591389
 0.97763358 0.97763358        nan 0.95905623        nan        nan
 0.97763358 0.98125347 0.96661497 0.98125347 0.97763358 0.97763358
        nan        nan        nan        nan        nan 0.96640098
        nan 0.9591389  0.97763358 0.97763358        nan        nan
        nan        nan 0.97763358 0.98125347        nan 0.98125347
 0.97763358 0.97763358        nan        nan        nan        nan
        nan 0.97014818        nan 0.9591389  0.97763358 0.97763358]
  category=UserWarning,
C:\Users\SRIRAM\Anaconda3\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

GridSearchCV(estimator=LogisticRegression(), n_jobs=-1,
             param_grid={'C': [0.001, 0.01, 0.1, 1, 10, 100, 1000],
                         'multi_class': ['auto', 'ovr', 'multinomial'],
                         'penalty': ['l1', 'l2', 'elasticnet', 'none'],
                         'solver': ['lbfgs', 'liblinear', 'newton-cg', 'sag',
                                    'saga']},
             scoring='f1_weighted', verbose=3)

In [12]:
re=grid.cv_results_

In [13]:
grid_pred=grid.predict(x_test)

In [14]:
from sklearn.metrics import confusion_matrix
cm= confusion_matrix(y_test,grid_pred)
print("The confusion Matrix:\n",cm)

The confusion Matrix:
 [[51  0]
 [ 1 81]]

In [15]:
# print classification report 
from sklearn.metrics import classification_report
clf_report= classification_report(y_test,grid_pred)
print("The report:\n",clf_report)

The report:
               precision    recall  f1-score   support

           0       0.98      1.00      0.99        51
           1       1.00      0.99      0.99        82

    accuracy                           0.99       133
   macro avg       0.99      0.99      0.99       133
weighted avg       0.99      0.99      0.99       133

In [16]:
from sklearn.metrics import f1_score
f1_macro=f1_score(y_test,grid_pred,average='weighted')
print("The f1_macro value for best parameter{} :".format(grid.best_params_),f1_macro)

The f1_macro value for best parameter{'C': 1, 'multi_class': 'multinomial', 'penalty': 'l2', 'solver': 'lbfgs'} : 0.9924946382275899

In [17]:
from sklearn.metrics import roc_auc_score
roc_auc_score(y_test,grid.predict_proba(x_test)[:,1])

1.0

In [18]:
table=pd.DataFrame.from_dict(re)
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_C,param_multi_class,param_penalty,param_solver,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.001995,3.873843e-07,0.000000,0.000000e+00,0.001,auto,l1,lbfgs,"{'C': 0.001, 'multi_class': 'auto', 'penalty':...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,420
1,0.006582,1.620282e-03,0.003191,1.465434e-03,0.001,auto,l1,liblinear,"{'C': 0.001, 'multi_class': 'auto', 'penalty':...",0.200200,0.189203,0.206772,0.206772,0.206772,0.201944,0.006860,214
2,0.002194,3.989697e-04,0.000000,0.000000e+00,0.001,auto,l1,newton-cg,"{'C': 0.001, 'multi_class': 'auto', 'penalty':...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,262
3,0.001595,4.879940e-04,0.000000,0.000000e+00,0.001,auto,l1,sag,"{'C': 0.001, 'multi_class': 'auto', 'penalty':...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,261
4,0.006782,1.163244e-03,0.001995,8.120244e-07,0.001,auto,l1,saga,"{'C': 0.001, 'multi_class': 'auto', 'penalty':...",0.486532,0.501410,0.477841,0.477841,0.477841,0.484293,0.009196,208
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
415,0.005785,3.988748e-04,0.000997,6.106495e-07,1000,multinomial,none,lbfgs,"{'C': 1000, 'multi_class': 'multinomial', 'pen...",0.963284,0.981233,1.000000,0.943651,0.962573,0.970148,0.019082,138
416,0.000598,4.885388e-04,0.000000,0.000000e+00,1000,multinomial,none,liblinear,"{'C': 1000, 'multi_class': 'multinomial', 'pen...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,268
417,0.017354,1.954194e-03,0.001197,7.462255e-04,1000,multinomial,none,newton-cg,"{'C': 1000, 'multi_class': 'multinomial', 'pen...",0.945100,0.962636,0.925524,0.981217,0.981217,0.959139,0.021513,167
418,0.013564,2.053516e-03,0.001596,4.886167e-04,1000,multinomial,none,sag,"{'C': 1000, 'multi_class': 'multinomial', 'pen...",0.963284,0.981233,0.981217,0.981217,0.981217,0.977634,0.007175,62
419,0.010971,1.544833e-03,0.001396,4.886167e-04,1000,multinomial,none,saga,"{'C': 1000, 'multi_class': 'multinomial', 'pen...",0.963284,0.981233,0.981217,0.981217,0.981217,0.977634,0.007175,62

In [19]:
dataset.columns

Index(['age', 'bp', 'al', 'su', 'bgr', 'bu', 'sc', 'sod', 'pot', 'hrmo', 'pcv',
       'wc', 'rc', 'sg_b', 'sg_c', 'sg_d', 'sg_e', 'rbc_normal', 'pc_normal',
       'pcc_present', 'ba_present', 'htn_yes', 'dm_yes', 'cad_yes',
       'appet_yes', 'pe_yes', 'ane_yes', 'classification_yes'],
      dtype='object')

In [20]:
dataset

,age,bp,al,su,bgr,bu,sc,sod,pot,hrmo,...,pc_normal,pcc_present,ba_present,htn_yes,dm_yes,cad_yes,appet_yes,pe_yes,ane_yes,classification_yes
0,2.000000,76.459948,3.0,0.0,148.112676,57.482105,3.077356,137.528754,4.627244,12.518156,...,0,0,0,0,0,0,1,1,0,1
1,3.000000,76.459948,2.0,0.0,148.112676,22.000000,0.700000,137.528754,4.627244,10.700000,...,1,0,0,0,0,0,1,0,0,1
2,4.000000,76.459948,1.0,0.0,99.000000,23.000000,0.600000,138.000000,4.400000,12.000000,...,1,0,0,0,0,0,1,0,0,1
3,5.000000,76.459948,1.0,0.0,148.112676,16.000000,0.700000,138.000000,3.200000,8.100000,...,1,0,0,0,0,0,1,0,1,1
4,5.000000,50.000000,0.0,0.0,148.112676,25.000000,0.600000,137.528754,4.627244,11.800000,...,1,0,0,0,0,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
394,51.492308,70.000000,0.0,0.0,219.000000,36.000000,1.300000,139.000000,3.700000,12.500000,...,1,0,0,0,0,0,1,0,0,1
395,51.492308,70.000000,0.0,2.0,220.000000,68.000000,2.800000,137.528754,4.627244,8.700000,...,1,0,0,1,1,0,1,0,1,1
396,51.492308,70.000000,3.0,0.0,110.000000,115.000000,6.000000,134.000000,2.700000,9.100000,...,1,0,0,1,1,0,0,0,0,1
397,51.492308,90.000000,0.0,0.0,207.000000,80.000000,6.800000,142.000000,5.500000,8.500000,...,1,0,0,1,1,0,1,0,1,1
398,51.492308,80.000000,0.0,0.0,100.000000,49.000000,1.000000,140.000000,5.000000,16.300000,...,1,0,0,0,0,0,1,0,0,0

In [21]:
age_input=float(input("Age:"))
bp_input=float(input("Bp:"))
al_input=float(input("Al:"))
su_input=float(input("Su:"))
bgr_input=float(input("Bgr:"))
bu_input=float(input("Bu:"))
sc_input=float(input("Sc:"))
sod_input=float(input("sod:"))
pot_input=float(input("Pot:"))
hrmo_input=float(input("Hrmo:"))
pcv_input=float(input("Pcv:"))
wc_input=float(input("Wc:"))
rc_input=float(input("Rc:"))
sg_b_input=int(input("Sg_b 0 or 1::"))
sg_c_input=int(input("Sg_c 0 or 1::"))
sg_d_input=int(input("Sg_d 0 or 1::"))
sg_e_input=int(input("Sg_e 0 or 1::"))
rbc_normal_input=int(input("Rbc_normal 0 or 1::"))
pc_normal_input=int(input("Pc_normal 0 or 1:"))
pcc_present_input=int(input("Pcc_normal 0 or 1:"))
ba_present_input=int(input("Ba_normal 0 or 1:"))
htn_yes_input=int(input("Htn_yes 0 or 1:"))
dm_yes_input=int(input("Dm_yes 0 or 1:"))
cad_yes_input=int(input("Cad_yes 0 or 1:"))
appet_yes_input=int(input("Appet_yes 0 or 1:"))
pe_yes_input=int(input("Pe_yes 0 or 1:"))
ane_yes_input=int(input("Ane_yes 0 or 1:"))

Age:2
Bp:76.4
Al:3
Su:0
Bgr:148
Bu:57.4
Sc:3.077
sod:137
Pot:4.6
Hrmo:12.5
Pcv:38.8
Wc:8408
Rc:4.7
Sg_b 0 or 1::1
Sg_c 0 or 1::0
Sg_d 0 or 1::1
Sg_e 0 or 1::1
Rbc_normal 0 or 1::0
Pc_normal 0 or 1:1
Pcc_normal 0 or 1:1
Ba_normal 0 or 1:1
Htn_yes 0 or 1:1
Dm_yes 0 or 1:1
Cad_yes 0 or 1:1
Appet_yes 0 or 1:0
Pe_yes 0 or 1:0
Ane_yes 0 or 1:1

In [23]:
Future_Prediction = grid.predict([[age_input, bp_input, al_input, su_input, bgr_input, bu_input, sc_input, sod_input, pot_input,
                                   hrmo_input, pcv_input, wc_input, rc_input, sg_b_input, sg_c_input, sg_d_input, sg_e_input,
                                   rbc_normal_input, pc_normal_input, pcc_present_input, ba_present_input, htn_yes_input,
                                   dm_yes_input, cad_yes_input, appet_yes_input, pe_yes_input, ane_yes_input]])

print("Future_Prediction =", Future_Prediction)

Future_Prediction = [0]